body {
font-family: "Audiowide";
background-color: pink;

}


img {



}


#storeInfo {
  font-size: 10pt;

}


#privateLink {

  font-family: sans-serif;
  font-size: 10pt;
  color: black;
  text-decoration: none;

}
