body {
font-family: "Audiowide";
background-color: white;
}

.bannerImage{
  width: 1024px;
  height:auto;
  position: fixed;
  margin-top: -20px;

}

nav ul{
  margin-top: 0px;
  background-color: #2f9aa5;
  padding-top: 25px;
  padding-bottom:10px;
  width:1050px;


}

nav li{
    display:inline;
    color: #112444;
    margin-top: 50px;
    padding-left: 10px;
    font-size: 14px;
}

nav li a{
    text-decoration: none;
    color: #112444;
  }

a:hover {
  background-color:white;

}

#weeklyTotals, #putSummaryTableHere {
  display: none;
}
#pizzasSold {
  position:fixed;
  margin-top: 315px;
  font-size: 18px;
  margin-left: 350px;
  color: #112444;
  font-weight: bold;
}

h2{
  position: absolute;
  margin-top: 385px;
  margin-left: 410px;
  color: white;
  z-index: 900;
  border-bottom: 1px white solid;
  width: inherit;
}

#locations{
  background-color: #112444;
  width: 1090px;
  height:760px;
  margin-top: 395px;

}

#store0 {
  border: 2px solid #bdbdbd;
  width: 150px;
  height: 150px;
  background-color: #b2f4f9;
  padding: 25px;
  display: inline-block;
  margin-top: 75px;
  margin-left: 200px;
  text-align:center;
  line-height: 150px;
  font-size:24px;
}

#store1 {
  border: 2px solid #bdbdbd;
  width: 150px;
  height: 150px;
  background-color: #b2f4f9;
  padding: 25px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 30px;
  text-align:center;
  line-height: 150px;
  font-size:24px;
  }

#store2 {
  border: 2px solid #bdbdbd;
  width: 150px;
  height: 150px;
  background-color: #b2f4f9;
  padding: 25px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 30px;
  text-align:center;
  line-height: 150px;
  font-size:24px;
  }

#store3 {
  border: 2px solid #bdbdbd;
  width: 150px;
  height: 150px;
  background-color: #b2f4f9;
  padding: 25px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 200px;
  text-align:center;
  line-height: 150px;
  font-size:24px;
  float: left;
}
#store4 {
  border: 2px solid #bdbdbd;
  width: 150px;
  height: 150px;
  background-color: #b2f4f9;
  padding: 25px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  text-align:center;
  line-height: 150px;
  font-size:24px;

}
#store5 {
  border: 2px solid #bdbdbd;
  width: 150px;
  height: 150px;
  background-color: #b2f4f9;
  padding: 25px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  text-align:center;
  line-height: 150px;
  font-size:24px;

}
